.route {
    display: grid;
    grid-template-columns: 11fr 1fr;
    width: 100%;
    background-color: var(--grey);
    border-radius: 10px;
    height: 100%;
}


.route menu {
    background-color: var(--theme);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
}

.route menu .icon {
    padding: 1rem;
    border-radius: 5px;
}

.route menu .icon img{  
    transition: .2s ease-in-out;
}


.route menu .icon img:hover {
    transform: scale(1.2);
}
