.search {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.login-container {

    height: 100%;
    width: 50%;

    background: rgba(227, 233, 237, 1);
    border: 1px solid rgba(255, 255, 255, 0.4);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.login {
    background-color: var(--theme);
    opacity: 0.8;
    background-image: linear-gradient(30deg, #bb5853 12%, transparent 12.5%, transparent 87%, #bb5853 87.5%, #bb5853), linear-gradient(150deg, #bb5853 12%, transparent 12.5%, transparent 87%, #bb5853 87.5%, #bb5853), linear-gradient(30deg, #bb5853 12%, transparent 12.5%, transparent 87%, #bb5853 87.5%, #bb5853), linear-gradient(150deg, #bb5853 12%, transparent 12.5%, transparent 87%, #bb5853 87.5%, #bb5853), linear-gradient(60deg, #bb585377 25%, transparent 25.5%, transparent 75%, #bb585377 75%, #bb585377), linear-gradient(60deg, #bb585377 25%, transparent 25.5%, transparent 75%, #bb585377 75%, #bb585377);
    background-size: 50px 88px;
    background-position: 0 0, 0 0, 25px 44px, 25px 44px, 0 0, 25px 44px;

    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.button {
    background: var(--theme);
    border-radius: 10px;
    outline: none;
    border: none;
    color: white;
    font-weight: 700;
    padding: .5rem 5rem;
    transition: .2s ease-in-out;
}

.disabled {
    background-color: #ccc;
}

.login-input {
    outline: none;
    border: none;
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.1);
    font-size: large;
    border-radius: 6px;
    padding: .5rem 0 .5rem 1rem;
}

.username-group,
.password-group {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    justify-content: center;
}

.button:not(.disabled):hover {
    background-color: #680707;
}

.advice {
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.login-input,
.button {
    font-size: large;
    height: 3rem;
    width: 70%;
}