.select-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    gap: 1rem;
}

.select-boxes .select {
    height: 3rem;
    border-radius: 10px;
    padding: 0 1rem;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

select {
    border: none;
    color: black;
    font-weight: 400;
    background-color: transparent;
    height: 100%;
    width: 70%;
}

.select-boxes button, .select-boxes .select{
    background-color: var(--grey);
}

@keyframes rotate360 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);

    }
}
.select-boxes button {
    border-radius: 50%;
    width: 50px;
    aspect-ratio: 1;
    border: none;
    color: #222121;
    padding: 5px;
}

.spin-animation {
    animation: rotate360 .9s ease-in-out;
}
