.flights {
    height: 100%;
}

.flight {
    background-color: white;
    margin: 1rem;
    border-radius: 5px;
    padding: 1rem;
    font-weight: 300;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: .5rem;
}

.buy {
    border: none;
    padding: .5rem;
    border-radius: 5px;
    background-color: #1a8305;
    color: white;
    transition: .2s;
}

.cancel {
    border: none;
    padding: .5rem;
    border-radius: 5px;
    background-color: #be123c;
    color: white;
    transition: .2s;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.buy:hover {
    background-color:  rgb(8, 97, 40);
}

.cancel:hover {
    background-color:  #68071f;
}